{% extends "products/base.html" %}
{% load static %}

{% block title %}Sex Offenders{% endblock %}

{% block content %}
<table>
<tr>
    <td colspan="8">
    <!--<h4 class="letter" id="{{ key }}">{{ key }}</h4>-->
    </td>
    </tr>
    <tr>
      <td></td>
      <td><strong>Last Name</strong></td>
      <td><strong>First Name</strong></td>
      <td><strong>Middle Name</strong></td>
      <td><strong>Booking Number</strong></td>
      <td><strong>Booking Date</strong></td>
      <td><strong>Release Date</strong></td>
      <td><strong>County</strong></td>
    </tr>
    {% for offender in sex_offenders %}

    <tr>
      
      <td>
        <a href="/products/inmates/{{ offender.inmate.book_id }}/">View</a>
      </td>
      <td>
        {{ offender.inmate.last_name }}
      </td>
      <td>
        {{ offender.inmate.first_name }}
      </td>
      <td>
        {{ offender.inmate.middle_name }}
      </td>
      <td>
        {{ offender.inmate.book_id }}
      </td>
      <td>
        {{ offender.inmate.booking_date }}
      </td>
      <td>
        {{ offender.inmate.release_date }}
      </td>
      <td>
        {{ offender.inmate.county }}
      </td>
      
    </tr>
    {% endfor %}
  </table>
{% endblock %}